.bg-4 { 
    background-image: linear-gradient(to right, rgb(49, 133, 100) , rgb(14, 66, 64));
  }
  .container-fluid {
    padding-top: 60px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

