<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contain">
<div class="call-list">
    <div class="inline1">
        <h6 id="call"> Call History </h6>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>

    <div>
        <div class="call-list1">
            <div class="inline2">
                <img id="icon5" src="assets/images/icon1.svg" height="45px" width="45px">
                <img id="icon4" src="assets/images/icon4.svg" height="45px" width="45px">
               
                <p id="num1"> <img src="assets/images/icon6.svg" height="18px" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;
                    +412 - 202005</p>
                <p id="num2"><img src="assets/images/icon6.svg" height="18px" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;+412 - 300805</p>
            </div>
            <br>

            <div class="inline3">
                <img id="icon5" src="assets/images/icon5.svg" height="42px" width="42px">
                <img id="icon4" src="assets/images/icon4.svg" height="42px" width="42px">
               
                <p id="num3"> <img src="assets/images/icon7.svg" height="18px" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;+412 - 202005</p>
                <p id="num4"> <img src="assets/images/icon7.svg" height="18px" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;+412 - 300805</p>
            </div><br>

            <div class="inline4">
                <img id="icon5" src="assets/images/icon5.svg" height="42px" width="42px">
                <img id="icon4" src="assets/images/icon4.svg" height="42px" width="42px">
               
                <p id="num3"> <img src="assets/images/icon7.svg" height="18px" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;+412 - 202005</p>
                <p id="num4"> <img src="assets/images/icon7.svg" height="18px" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;+412 - 300805</p>
            </div><br>

            <div class="inline5">
                <img id="icon5" src="assets/images/icon5.svg" height="42px" width="42px">
                <img id="icon4" src="assets/images/icon4.svg" height="42px" width="42px">
               
                <p id="num3"> <img src="assets/images/icon7.svg" height="18px" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;+412 - 202005</p>
                <p id="num4"> <img src="assets/images/icon7.svg" height="18px" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;+412 - 300805</p>
            </div>

        </div>
    </div>

</div>
</div>