.col-xl-20{
  background-image: linear-gradient(rgb(45, 158, 130), rgb(9, 43, 24));
  margin-top:83px;
  margin-left:-23%;
}

#welcome{
color:lightgray;
font-size:32px;
padding-top:30px;
}

#image{
text-align: center;
padding-top:75px;
}


#lorem{
color:lightgray;
font-size:30px;
padding-bottom:40px;
padding-top:165px;
}

.contain {
  height:550px;
  width:775px;
}